{% extends "basements/base.html" %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
{% include "basements/navbar_header.html" %}
{% include "basements/navbar_content_1.html" %}

<div class="card">
    <div class="card-body">

{# 添加和修改表单, 在库货物 #}
        <div class="container" style="width: 40%;">
            <form id="warehouseAddForm">
                {{ form.as_p }}
                <button id="backend-add-confirm" type="button" class="btn btn-primary">确认保存</button>
                <a class="btn btn-info float-right" href="{% url 'warehouse:warehouse_home' %}">返回</a>
            </form>
        </div>

    </div>
</div>

{% include "basements/navbar_content_2.html" %}
{% endblock %}

{% block base_script %}
<script>
    window.onload= function(){
        initThisPage.initButton()
    }

    var initThisPage = {
        initButton: function(){buttonAddConfirm();}
    }

    function buttonAddConfirm(){
        // 添加一个并返回浏览页
        $("#backend-add-confirm").on("click", function(){
            asyncPost("{% url 'warehouse:warehouse_home' %}")
        })
    }


    function asyncPost(next_page){
        var verifyAmount = Number($("#backend-amount").val())
        var verifyPrice = Number($("#backend-price").val())

        if (!verifyAmount || !verifyPrice) { 
            if (verifyPrice != 0 || verifyPrice != 0){
                window.alert("非法数字, 不能包含字符.")
                return
            }
        }
        if (Math.floor(verifyAmount) !== verifyAmount && verifyAmount < 0) {
            window.alert("储物数量必须为不为零的整数.")
            return
        }

        $.post(
            "{% url 'warehouse:warehouse_modify' %}",
            {
                "origin_good_id": getQueryString("goodId"), 
                "good_id": $("#backend-goodId").val(), 
                "good_name": $("#backend-goodName").val(), 
                "classification": $("#backend-classification").val(),
                "supplier": $("#backend-supplier").val(),
                "spec": $("#backend-spec").val(),
                "unit": $("#backend-unit").val(),
                "amount": $("#backend-amount").val(),
                "price": $("#backend-price").val(),
                "remark": $("#backend-remark").val()
            },
            function(reback, status){
                if (reback["back_msg"] == "OK"){
                    window.alert("状态码 " + status + ", 成功保存")
                    if (next_page){
                        window.location.href = next_page
                    }
                } else {
                    window.alert("通信状态" + status + " 但是出现错误.\n" + reback["back_msg"])
                }
            },
            "json"
        )
    }

</script>
{% endblock %}