<div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <!-- Sidebar Navidation Menus-->
        <span class="heading">数据表控制</span>
        <ul class="list-unstyled">
            <li id="nv-index"><a href="{% url 'index:index_home' %}"> <i class="icon-home"></i>主页</a></li>
            <li id="nv-supplier"><a href="{% url 'warehouse:supplier_home' %}"> <i class="icon icon-user"></i>供应商管理</a></li>
            <li id="nv-classification"><a href="tables.html"> <i class="icon icon-list-1"></i>物品种类管理</a></li>
            <li id="nv-inWarehouse"><a href="charts.html"> <i class="icon-padnote"></i>入库单管理</a></li>
            <li id="nv-outWarehouse"><a href="forms.html"> <i class="icon-check"></i>出库单管理</a></li>
            <li id="nv-warehouse"><a href="forms.html"> <i class="icon-grid"></i>在库货管理</a></li>
            <li id="nv-sale"><a href="forms.html"> <i class="icon icon-bill"></i>销售单管理</a></li>
            <li id="nv-history"><a href="forms.html"> <i class="icon icon-clock"></i>用户历史记录</a></li>
            <li id="nv-database"><a href="#"> <i class="icon icon-website"></i>数据库管理</a></li>
    </nav>

    <div class="content-inner">
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb" id="backend-control-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index:index_home' %}">Home</a></li>
            </ul>
        </div>

        {# 这里用来写入主要内容 #}
        {% block content %}{% endblock %}

        <!-- Page Footer-->
        {% include "basements/footer.html" %}
    </div>
</div>

<script>
    // 这里需要将active_navbar中的内容该为由后端传入的数据
    user_superuser = {% if request.user.is_superuser %} true {% else %} false {% endif %}
    active_navbar = "{{ active_navbar }}"
    // 对于侧边内容的选中
    // TODO: 增加侧边内容
    var side_navbar_dict = {"index": "nv-index", "supplier": "nv-supplier", "classification": "nv-classification"}
    var side_navbar = document.getElementById(side_navbar_dict[active_navbar])
    side_navbar.setAttribute("class", "active")
    // 对于breadcrumb
    var new_element = document.createElement("li")
    new_element.setAttribute("class", "breadcrumb-item active")
    switch (active_navbar){
        case "index":
            new_element.innerText = active_navbar
            break
        case "supplier":
            new_element.innerText = active_navbar
            break
    }
    document.getElementById("backend-control-breadcrumb").appendChild(new_element)

    var admin_page = document.getElementById("nv-database")
    admin_page.addEventListener("click", function(evt){
        if (user_superuser){
            var flag = window.confirm("页面将会进入到超级用户管理界面, 是否进行跳转.")
            if (flag) {
                window.location.href = "/admin"
            }
        } else {
            window.alert("权限不足, 需要超级用户权限.")
        }
    }, false)
</script>
