<div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <!-- Sidebar Navidation Menus-->
        <span class="heading">数据表控制</span>
        <ul class="list-unstyled">
            <li id="nv-index"><a href="{% url 'index:index_home' %}"> <i class="icon-home"></i>主页</a></li>
            <li id="nv-supplier"><a href="{% url 'warehouse:supplier_home' %}"> <i class="icon icon-user"></i>供应商管理</a></li>
            <li id="nv-classification"><a href="{% url 'warehouse:classification_home' %}"> <i class="icon icon-list-1"></i>物品种类管理</a></li>
            <li id="nv-inWarehouse"><a href="charts.html"> <i class="icon-padnote"></i>入库单管理</a></li>
            <li id="nv-outWarehouse"><a href="forms.html"> <i class="icon-check"></i>出库单管理</a></li>
            <li id="nv-warehouse"><a href="forms.html"> <i class="icon-grid"></i>在库货管理</a></li>
            <li id="nv-sale"><a href="forms.html"> <i class="icon icon-bill"></i>销售单管理</a></li>
            <li id="nv-history"><a href="forms.html"> <i class="icon icon-clock"></i>用户历史记录</a></li>
            <li id="nv-database"><a href="#"> <i class="icon icon-website"></i>数据库管理</a></li>
    </nav>

    <div class="content-inner">
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb" id="backend-control-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index:index_home' %}">Home</a></li>
            </ul>
        </div>

        {# 这里用来写入主要内容, 必须和2连用 #}
