<form class="float-right">
    <div class="form-row">
        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseSupplierId">供应商编号</label>
            <input type="text" class="form-control mb-2" id="searchInWarehouseSupplierId" placeholder="供应商编号">
            <label class="sr-only" for="searchInWarehouseSupplierId">供应商编号搜索</label>
        </div>

        <div class="col-md-3">
            <label class="sr-only" for="searchInWarehouseSupplierName">供应商名</label>
            <input type="text" class="form-control mb-2" id="searchInWarehouseSupplierName" placeholder="供应商名">
            <label class="sr-only" for="searchInWarehouseSupplierName">供应商名搜索</label>  
        </div>

        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseGoodId">储物编号</label>
            <input type="text" class="form-control mb-2" id="searchInWarehouseGoodId" placeholder="储物编号">
            <label class="sr-only" for="searchInWarehouseGoodId">储物编号搜索</label>
        </div>

        <div class="col-md-3">
            <label class="sr-only" for="searchInWarehouseGoodName">储物名</label>
            <input type="text" class="form-control mb-2" id="searchInWarehouseGoodName" placeholder="储物名">
            <label class="sr-only" for="searchInWarehouseGoodName">储物名搜索</label>
        </div>

        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseClassName">储物分类</label>
            <input type="text" class="form-control mb-2" id="searchInWarehouseClassName" placeholder="储物分类">
            <label class="sr-only" for="searchInWarehouseClassName">储物分类搜索</label>
        </div>

    </div>
    
    <div class="form-row">
        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehousePersonLiable">责任人</label>
            <input type="text" class="form-control" id="searchInWarehousePersonLiable" placeholder="责任人">
            <label class="sr-only" for="searchInWarehousePersonLiable">责任人搜索</label>
        </div>
                
        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseIsFinished">否完成</label>
            <select type="text" class="form-control" id="searchInWarehouseIsFinished">
                <option value="">是否完成</option>
                <option value="1">已完成</option>
                <option value="0">未完成</option>
            </select>
            <label class="sr-only" for="searchInWarehouseIsFinished">开始时间搜索</label>
        </div>

        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseStartTime">开始时间</label>
            <input type="text" class="form-control" id="searchInWarehouseStartTime" placeholder="开始时间">
            <label class="sr-only" for="searchInWarehouseStartTime">开始时间搜索</label>
        </div>
        <div class="col-md-2">
            <label class="sr-only" for="searchInWarehouseEndTime">结束时间</label>
            <input type="text" class="form-control" id="searchInWarehouseEndTime" placeholder="结束时间">
            <label class="sr-only" for="searchInWarehouseEndTime">结束时间搜索</label>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-primary" id="inWarehouseSearch"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>