<form class="float-right">
    <div class="form-row">
        <div class="col-md-2">
            <label class="sr-only" for="searchWarehouseSupplierId">供应商编号</label>
            <input type="text" class="form-control mb-2" id="searchWarehouseSupplierId" placeholder="供应商编号">
            <label class="sr-only" for="searchWarehouseSupplierId">供应商编号搜索</label>
        </div>

        <div class="col-md-3">
            <label class="sr-only" for="searchWarehouseSupplierName">供应商名</label>
            <input type="text" class="form-control mb-2" id="searchWarehouseSupplierName" placeholder="供应商名">
            <label class="sr-only" for="searchWarehouseSupplierName">供应商名搜索</label>  
        </div>

        <div class="col-md-2">
            <label class="sr-only" for="searchWarehouseGoodId">储物编号</label>
            <input type="text" class="form-control mb-2" id="searchWarehouseGoodId" placeholder="储物编号">
            <label class="sr-only" for="searchWarehouseGoodId">储物编号搜索</label>
        </div>

        <div class="col-md-3">
            <label class="sr-only" for="searchWarehouseGoodName">储物名</label>
            <input type="text" class="form-control mb-2" id="searchWarehouseGoodName" placeholder="储物名">
            <label class="sr-only" for="searchWarehouseGoodName">储物名搜索</label>
        </div>

        <div class="col-md-2">
            <label class="sr-only" for="searchWarehouseClassName">储物分类</label>
            <input type="text" class="form-control mb-2" id="searchWarehouseClassName" placeholder="储物分类">
            <label class="sr-only" for="searchWarehouseClassName">储物分类搜索</label>
        </div>

    </div>
    
    <div class="form-row">
        <div class="col-md-2">
            <label class="sr-only" for="searchWarehouseStartTime">开始时间</label>
            <input type="text" class="form-control" id="searchWarehouseStartTime" placeholder="开始时间">
            <label class="sr-only" for="searchWarehouseStartTime">开始时间搜索</label>
        </div>
        <div class="col-md-2">
            <label class="sr-only" for="searchWarehouseEndTime">结束时间</label>
            <input type="text" class="form-control" id="searchWarehouseEndTime" placeholder="结束时间">
            <label class="sr-only" for="searchWarehouseEndTime">结束时间搜索</label>
        </div>
        <div class="col-md-8 text-right">
            <button type="button" class="btn btn-primary" id="warehouseSearch"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>