<form class="form-inline float-right">
    <label class="sr-only" for="searchSupplierId">供应商编号</label>
    <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="searchSupplierId" placeholder="供应商编号">
    <label class="sr-only" for="searchSupplierId">供应商编号搜索</label>
    <label class="sr-only" for="searchSupplierName">供应商名</label>
    <input type="text" class="form-control mb-2 mr-sm-2 w-25" id="searchSupplierName" placeholder="供应商名">
    <label class="sr-only" for="searchSupplierName">供应商名搜索</label>
    <button type="submit" class="btn btn-primary mb-2" id="supplierSearch"><i class="fa fa-search"></i></button>
</form>