{% extends "basements/base.html" %}

{% block head_title %}用户历史管理{% endblock %}

{% block body %}
{% include "basements/navbar_header.html" %}
{% include "basements/navbar_content_1.html" %}

<div class="container-fluid">
{# 添加和保存按钮, 历史信息不能自己添加, 只有保存当前结果 #}
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <button type="button" id="backend-download" class="btn btn-primary"><i class="fa fa-download"></i>下载当前结果</button>
        </div>
        <div class="col-md-10 col-sm-10">
{# 搜索表单, 搜索历史 #}
            <div class="row">
                {% include "forms/search_history_form.html" %}        
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
{# 显示不同的列表, 历史显示 #}
                        <th>#</th>
                        <th class="text-left">历史记录</th>
                    </tr>
                </thead>
                <tbody>
{# 获取paginator中的数据, 历史显示 #}
                    {% for contact in pagetor %}
                    <tr>
                        <th class="backend-num-id" scope="row"></th>
                        <th>{{contact.get_record}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="float-left ml-3">
    <small>总数据量: {{pagetor.paginator.count}}, 页数: {{pagetor.paginator.num_pages}}</small>
</div>

<nav class="float-right mr-3" aria-label="Page navigation">
{# 翻页按钮, 供应商 #}
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% url 'account:history_home' %}1/">&laquo;&laquo;</a></li>
        {% if pagetor.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'account:history_home' %}{{pagetor.previous_page_number}}/">{{pagetor.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item active"><span class="page-link">{{pagetor.number}}</span></li>
        {% if pagetor.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'account:history_home' %}{{pagetor.next_page_number}}/">{{pagetor.next_page_number}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="{% url 'account:history_home' %}{{pagetor.paginator.num_pages}}/">&raquo;&raquo;</a></li>
    </ul>
</nav>

{% include "basements/navbar_content_2.html" %}
{% endblock %}

{% block base_script %}
<script>

    window.onload = function(){
        thisPageInit.initInput()
        thisPageInit.initButton()
        thisPageInit.initContent()
        thisPageInit.initPagination()
    }

    var thisPageInit = {
        initInput: function(){inputTime(); },
        initButton: function(){buttonSearch(); buttonDownload();}, 
        initContent: function(){itemNum();},
        initPagination: function(){paginationLink()},
    }

    function inputTime(){
        // 搜索框日期显示初始化
        var datepickerSetting = {
            showMonthAfterYear:true, //年在前，月在后
            yearSuffix:"年",	     //添加后缀年
            prevText:"上一月",       //鼠标放在翻月按钮上显示的文字
            nextText:"下一月",
            monthNames:["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月",],   //以中文显示月份
            dayNamesMin:["日","一","二","三","四","五","六",], //以中文显示每周（必须按此顺序，否则日期出错）
            dateFormat:"yy-mm-dd",   //在文本框中显示日期的格式 
            changeYear: true,   // 是否允许直接更改年
        }
        $("#searchHistoryStartTime").datepicker(datepickerSetting)
        $("#searchHistoryEndTime").datepicker(datepickerSetting)
    }

    function buttonSearch(){
        // 搜索按钮功能赋予
        // FIXME: 需要对select标签的选择值进行过滤
        $("#historySearch").on("click", function (evt) {
            var userName = $("#searchHistoryUserName").val()
            var fullName = $("#searchHistoryFullName").val()
            var wareName = $("#searchHistoryWareName").val()
            var action = $("#searchHistoryAction").val()
            var startTime = $("#searchHistoryStartTime").val()
            var endTime = $("#searchHistoryEndTime").val()
            // window.location.href = "{% url 'account:history_home' %}1/?userName=" + userName +
            //                                                          "&fullName=" + fullName +
            //                                                          "&wareName=" + wareName +
            //                                                          "&action=" + action +
            //                                                          "&startTime" + startTime +
            //                                                          "&endTime=" + endTime

            console.info(action)
            })
        }
    

    function buttonDownload(){
        // 文件下载功能  TODO:相应的参数应该替换掉
        var objectDictWare = {
            "Supplier": "供应商",
            "Classification": "储物分类",
            "InWarehouse": "入库记录单",
            "OutWarehouse": "出库记录单",
            "Warehouse": "储物库",
            "Sale": "销售单",
        }
        var objectDictAct = {
            "CREATE": "创建",
            "MODIFY": "修改",
            "DELETE": "删除",
        }
        $("#backend-download").on("click", function(evt){
            var userName = getQueryString("userName")
            var fullName = getQueryString("fullName")
            var wareName = getQueryString("wareName")
            var action = getQueryString("action")
            var startTime = getQueryString("startTime")
            var endTime = getQueryString("endTime")
            var download_url = "{% url 'warehouse:warehouse_download' %}?userName=" + userName + 
                                                                        "&fullName=" + fullName +
                                                                        "&wareName=" + wareName +
                                                                        "&action=" + action +
                                                                        "&startTime=" + startTime +
                                                                        "&endTime=" + endTime 
            var filename = (userName || fullName || wareName || action || startTime || endTime)
                            ? "用户历史 - 账户名_" + userName + ", 姓名_" + fullName + ", 对象_" + objectDictWare[wareName] + 
                              ", 动作_" + objectDictAct[action] + ", 时间区间(" + startTime + ", " + endTime + ").xlsx" 
                            : "用户历史.xlsx"
            // 模拟下载, 仅html5支持
            var aElement = document.createElement('a')
            aElement.setAttribute('href', download_url)
            aElement.setAttribute('download', filename)
            aElement.click()
        })
    }


    function itemNum(){
        // 内容编号
        var number_ids = $(".backend-num-id")
        for (var i=0; i<number_ids.length; i++){
            number_ids[i].textContent = i+1
        }
    }


    function paginationLink(){
        // 翻页带条件　　TODO: 需要对翻页中的条件进行更改
        var userName = "{% if username %}{{username}}{% endif %}"
        var fullName = "{% if fullname %}{{fullname}}{% endif %}"
        var wareName = "{% if warename %}{{warename}}{% endif %}"
        var action = "{% if action %}{{action}}{% endif %}"
        var startTime = "{% if start_time %}{{start_time}}{% endif %}"
        var endTime = "{% if end_time %}{{end_time}}{% endif %}"
        if (userName || fullName || wareName || action || startTime || endTime){
            if (userName){
                $("#searchHistoryUserName").val(userName)
            }
            if (fullName){
                $("#searchHistoryFullName").val(fullName)
            }
            if (wareName){
                $("#searchHistoryWareName").val(wareName)
            }
            if (action){
                $("#searchHistoryAction").val(action)
            }
            if (startTime){
                $("#searchHistoryStartTime").val(startTime)
            }
            if (endTime){
                $("#searchHistoryEndTime").val(endTime)
            }
            var page_items_a = $(".pagination>.page-item>a")
            for(var i=0; i<page_items_a.length; i++){
                var origin_href = page_items_a[i].getAttribute("href")
                page_items_a[i].setAttribute("href", origin_href + "?userName=" + userName +
                                                                    "&fullName=" + fullName +
                                                                    "&wareName=" + wareName +
                                                                    "&action=" + action +
                                                                    "&startTime=" + startTime +
                                                                    "&endTime=" + endTime)
            }
        }
    }

</script>
{% endblock %}
